<header>
    <img
      src="assets/img/pmorbidellij.jpg"
      alt="Paulo Morbidelli - Foto de Perfil"
      width="130px"
      height="130px"
      loading="eager"
    />
    <h1>Paulo Morbidelli</h1>
  </header>
  
  <aside>
    <div class="container">
      <p>Full-Stack Microsoft .NET | Angular | NodeJs | AWS</p>
      <p>Barueri, São Paulo, Brasil</p>
      <p>Estou na área de análise e desenvolvimento de software mais de 15 anos.</p>  
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/Paulo_Morbidelli_Analista_de_Sistemas.pdf" target="_blank" class="btn btn-primary">
              Download Cv
            </a>
          </li>
  
          <li>
            <a
              href="https://www.linkedin.com/in/paulomorbidelli/"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=5511932732054&text=Ol%C3%A1%20Paulo,%20preciso%20de%20um%20job!"
              target="_blank"
            >
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: +55 11 93273-2054</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:paulo@apwdigital.com.br" target="_blank">
              <strong>Envie uma e-mail para:</strong>
              <p>paulo&#64;apwdigital.com.br</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>
  